@font-face {
    font-family: latin;
    src: url(../font/latin/OoohBaby-Regular.ttf),
      url(../assets/font/latin/OFL.txt);
  }
  @font-face{
    font-family: domine;
    src: url(../font/domine/Domine-VariableFont_wght.ttf),
         url(../assets/font/domine/OFL.txt);
  }