@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" );
@import url("../fontawsome-5/css/all.min.css");
@import url("fonts.css");
@import url("reset.css");
@import url(animation.css);
@import url(animate.min.css);


.active {
  color: orange !important;
}
.navbar {
  z-index: 100;
}
.nav-link:hover {
  color: orange !important;
}
.top-banner {
  height: 700px;
}
.img-banner{
  background: url(../images/hero-bg.jpg) no-repeat right top;
  background-size: cover;
  background-attachment: fixed;
}
.text1 {
  font-family: latin;
  /* animation: scale 3s linear infinite alternate; */
}

.text2 {
  font-family: domine;
  animation: width 4s linear  2s infinite alternate;
}
.about1{
  font-size: 25pt;
  margin-top: 75px;
  font-family: domine;
  color: #ebe0e0;
}
.about2{
  font-size: 20pt;
  font-family: domine;
  top: 22px;
}
.title-1 P{
  font-family: domine;
  margin-top: 40PX;
  font-size: 15pt;
}
.banner2{
  width: 350px;
  height: 650px;
  opacity: 50%;
  /* transition: opacity 2s; */
  animation:banner2 3s linear infinite alternate ;
}

.banner2{
  background: url(../images/me.jpg) center center no-repeat;
  background-size: cover;
  min-height: 500px;
}
/* .banner2:hover{
  opacity:90%;
} */
.about-me1,.about-me2{
  /* font-family: domine; */
}
.name{
  /* margin-top: 20px; */
  font-size: 15pt; 
}
.name:hover{
  transform: scale(1.1);
}
.icon{
font-size: 30px;
  color: rgba(42, 172, 189, 0.897);
  animation: icon 3s linear 1s infinite ;
}
.text{
  font-size: 15pt;
  font-family: domine;
}
.number{
  font-size: 20pt;

}
.progress{
  margin-top: 5px;
}
.skills{
  margin-top: 10px;
}
.skill1-4{
 
}
