@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" );
@import url("../fontawsome-5/css/all.min.css");
@import url("fonts.css");
@import url("reset.css");
@import url(animation.css);
@import url(animate.min.css);


.active {
  color: orange !important;
  border-color: orange !important;
}
.navbar {
  z-index: 100;
}
.nav-link:hover {
  color: orange !important;
}
.top-banner {
  height: 700px;
}
.img-banner{
  background: url(../images/hero-bg.jpg) no-repeat right top;
  background-size: cover;
  background-attachment: fixed;
}
.text1 {
  font-family: latin;
  /* animation: scale 3s linear infinite alternate; */
}
.text2 {
  font-family: domine;
  animation: width 4s linear  2s infinite alternate;
}
.chevron{
  font-size: 25pt;
  color: #ebe3e3a4;
  margin-top: 130px;
} 
.about1{
  font-size: 30pt;
  margin-top: 75px;
  font-family: domine;
  color: #ebe0e0;
}
.about2{
  font-size: 20pt;
  font-family: domine;
  top: 22px;
}
.title-1 P{
  font-family: domine;
  margin-top: 6PX;
  font-size: 12pt;
  margin-left: 10px;
}
.banner2{
  width: 290px;
  height:635px;
  opacity: 50%;
 
  /* transition: opacity 2s; */
  animation:banner2 3s linear infinite alternate ;
}
.banner2{
  background: url(../images/me.jpg) center center no-repeat;
  background-size: cover;
  min-height: 500px;
}
/* .banner2:hover{
  opacity:90%;
} */
.about-me1,.about-me2{
  /* font-family: domine; */
}

.name:hover{
  transform: scale(1.1);
}
.icon{
font-size: 40px;
  color: rgba(42, 172, 189, 0.897);
  animation: icon 3s linear 1s infinite ;

}
.text {
  font-size: 12pt;
  font-family: domine;
}
.number{
  font-size: 40pt;
  margin-top: 35px;
  margin-left: 20px;
}
.topic{
  margin-top: 20px;
}
.progress{
  margin-top: 5px;
}
.skills{
  margin-top: 10px;
}
.resume-1,.resume-2,.resume-3{
  border-left: 2px solid #82909c;
  margin-left: 10px; 
}
.resume-2 h5{
  margin-left: 10px;
}
.resume-3 h5 , .resume-3 ul{
  margin-left: 10px;
}
.resume-3 li{
  margin-top: 10px;
}
.circle{
  background: #fff;
    border: 2px solid #82909c;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    /* position: absolute; */
    left: -9px;
}

/* .resume-1, .resume-3, .resume-4{
  border-left: 2px solid rgba(126, 122, 122, 0.472); 
  font-size: 12pt;
  font-family: domine;
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #82909c;
  position: relative;
} */
/* .man{
  border-left: 2px solid #82909c;
} */
.my-resume{
  padding: 60px 0;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
.topics{
  color: orange;
  margin-left: 10px;
}
.graphic{
  margin-top: 25px;
}
.sumary ul, .resume-3 ul {
  list-style-type:circle;
  margin-left: 27px;
}
.year{
  background: #eef0f2;
  display: inline-block;
  font-size: 16px;
}
.nav-pills .nav-link{
  border: 2px solid #fff;
}
.tab-pane .image-box{
  overflow: hidden;
  
}
.indicators{
  border-radius: 50px;
  width: 16px;
    height: 16px;
    background: rgb(172, 31, 31);
}

.portfolio-banner{
  transform: scale(1);
  transition: transform 3s ;
}
.portfolio-banner-1,.portfolio-banner-2,.portfolio-banner-3,
.portfolio-banner-4,.portfolio-banner-5,.portfolio-banner-6,
.portfolio-banner-7,.portfolio-banner-8,.portfolio-banner-9{
  width: 356px;
  height: 361px;
}
.portfolio-banner-1{
  background: url(../images/portfolio-1.jpg) no-repeat ;
  background-size: cover;
}
.portfolio-banner-2{
  background: url(../images/portfolio-2.jpg) no-repeat ;
  background-size: cover;
}
.portfolio-banner-3{
  background: url(../images/portfolio-3.jpg) no-repeat ;
  background-size: cover; 
}
.portfolio-banner-4{
  background: url(../images/portfolio-4.jpg) no-repeat ;
  background-size: cover; 
}
.portfolio-banner-5{
  background: url(../images/portfolio-5.jpg) no-repeat ;
  background-size: cover;  
}
.portfolio-banner-6{
  background: url(../images/portfolio-6.jpg) no-repeat ;
  background-size: cover;
}
.portfolio-banner-7{
  background: url(../images/portfolio-7.jpg) no-repeat ;
  background-size: cover;
}
.portfolio-banner-8{
  background: url(../images/portfolio-8.jpg) no-repeat ;
  background-size: cover;
}
.portfolio-banner-9{
  background: url(../images/portfolio-9.jpg) no-repeat ;
  background-size: cover;
}

.tab-pane .image-box:hover .portfolio-banner{
  transform: scale(1.3);
}
.icon-portfolio{
  color: orange;
  border-radius: 50%;
  font-size: 30pt;
  width: 72px;
  height: 72px;
  background: #fff4df;
  text-align: center;
      margin: 0 auto 20px auto;
    padding-top: 17px;
    display: inline-block;
}
.icon-box:hover{
  border: 1px solid orange;
}
.icon-box:hover a{
color: orange;
}
.icon-box , .pricing-box{
  padding: 32px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 10px 29px 0 rgb(68 88 144 / 10%);
  transition: all 0.3s ease-in-out;
  text-align: center;
  border: 1px solid #fff;
  /* border-color: #ffb727; */
}
#pills-ALL-tab,#pills-APP-tab,#pills-CARD-tab,#pills-WEB-tab{
  /* border-color: orange; */
  background-color:white;
  color: black;
}
.underline{
  text-decoration: line-through;
  color: #ccc;
}
.btn-buy{
  background: #ffb727;
  display: inline-block;
  padding: 8px 35px;
  border-radius: 4px;
  color: #fff;
  transition: none;
  font-size: 14px;
  font-weight: 400;
  font-family:domine ;
  font-weight: 600;
  transition: 0.3s;
}
.btn-buy:hover{
  color: #fff;
  opacity: 80%;
}
.btn{
  background: #f8f8f8;
  text-align: center;
}
.Advanced{
  width: 200px;
  position: absolute;
  top: 18px;
  right: -68px;
  transform: rotate(45deg);
  z-index: 1;
  font-size: 14px;
  padding: 1px 0 3px 0;
  background: #ffb727;
  color: #fff;
}
.topics-pricing{
  margin: -31px -31px 31px -31px;
  padding: 20px 15px;
  font-size: 16px;
  font-weight: 600;
  color: #777777;
  background: #f8f8f8;
}
.slide{
  border-radius: 50px;
  margin-bottom: 300px;
} 



