
@font-face {
  font-family: latin;
  src: url(../assets/font/latin/OoohBaby-Regular.ttf),
    url(../assets/font/latin/OFL.txt);
}
@font-face{
  font-family: domine;
  src: url(../assets/font/domine/Domine-VariableFont_wght.ttf),
       url(../assets/font/domine/OFL.txt);
}
body {
  margin: 0px;
  direction: ltr;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.active {
  color: orange !important;
}
.navbar {
  z-index: 100;
}
.nav-link:hover {
  color: orange !important;
}
.top-banner {
  height: 700px;
}
.img-banner{
  background: url(../assets/images/hero-bg.jpg) no-repeat right top;
  background-size: cover;
  background-attachment: fixed;
}
.text1 {
  font-family: latin;
  margin-left: 145px;
}
.text2 {
  font-family: domine;
}
.about1{
  transform: scale(3);
  margin-top: 75px;
  font-family: domine;
  color: #ebe0e0;
}
.about2{
  transform: scale(2);
  font-family: domine;
  top: 22px;
}
.title-1 P{
  font-family: domine;
  margin-top: 40PX;
  font-size: 10pt;
}
.banner2{
  margin-left: 150px;
  margin-top: 40px;
  width: 350px;
  height: 550px;
  opacity: 50%;
  transition: opacity 2s;
}
.banner2:hover{
  opacity:90%;
}
.about-me1{
  font-family: domine;
  margin-left: 50px;
}
.about-me2{
  font-family: domine;
}
.name{
  margin-top: 36px;
  font-size: 12pt; 
}
.name:hover{
  transform: scale(1.1);
}
.fa-smile,.fa-clock,.fa-book,.fa-award{
transform: rotate(0);
font-size: 30px;
  color: rgba(66, 77, 57, 0.753);
  padding-top: 30px;
}
.fa-smile:hover{
  transform: rotate(20deg);
}
.fa-clock:hover{
  transform: rotate(20deg);
}
.fa-book:hover{
  transform: rotate(20deg);
}
.fa-award:hover{
  transform: rotate(20deg);
}
.text{
  font-size: 10pt;
  font-family: domine;
}
.number{
  font-size: 20pt;
}
